<div class="jumbotron">
	<h1>All Trips</h1>
</div>

<div class="row">
	<% @trips.each do |trip| %>
		<h3><%= link_to trip.name, trip_path(trip)%></h3>
		<p><%= trip.description %></p>
<% end %>
</div>
