<div class="jumbotron">
	<h1>Edit User</h1>
</div>

<%= form_for @users do |form| %>

	<div class="form-group">
		<%= form.label :username%>
		<%= form.text_field :username, class: "form-control" %>
	</div>
	
	<%= form.button 'Edit User', class: "btn btn-success" %>
	<% end %>


