body {
  margin-top: 30px;
}
.navbar-inverse .navbar-brand {
  font-family: 'Gorditas', cursive;
  font-size: 36px;
  color: #FF00FF;
  padding-top: 20px;
}
.field_with_errors input {
  padding: 2px;
  background-color: #ffcbca;
  display: table;
}
h1.title {
  padding: 0 30px 30px 0;
}
h2 {
  font-size: 22px;
}